# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
FishingSpotsKootenays.csv
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
/cypress/videos/
/cypress/screenshots/
./server/.env
./server/secrets/
./secrets/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
server/secrets/hooked-on-the-koots-4b43507ee9e9.json
